/**
 * Stylesheet ART SCHOP
 */

/**
 * CSS Clearfix
 * @see http://www.positioniseverything.net/easyclearing.html
 */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.headerV{
	margin-right: 2rem;
}
.ie6 .clearfix {
	display: inline-block;
}

.ie7 .clearfix {
	zoom: 1;
}

	/**
	 * General Page Structure
	 */

html, body {
	height: 100%;
}

#logo {
	display: block;
	width: 310px;
	height: 50px;
	background: transparent url(../storage/img/logo/logo.jpg) no-repeat 0 0;

	text-indent: -9999px;
	overflow: hidden;
	float: left;


}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.48;
	background-color: #dfdfdf;

}

a {
	color: #030e44;
	text-decoration: none;
}

a:hover {
	color: #009ACD;
}


.mute {
	color: #ccc;
	font-style: italic;
}

h1{
	color: #030e44;
	margin-bottom: 1rem;
	background-color: #D3D3D3;
	padding-left: 0.5rem;
}
.itemname{
	color: #030e44;
	margin-bottom: 1rem;
	padding-left: 0rem;
	background-color: white;
}
.back{
	
	margin: auto;
	margin-top: 1rem;
	width: 80%;
}
#backa{
	color: white;
}

header h1 a {
	font-size: 2em;
	color: rgb(51, 51, 51);
	text-decoration: none;

}
header{
	display: inline-block;
}
	

#siteWrapper {
	margin: 0 auto;
	padding-top: 1.0rem;
	padding-left:1rem;
	padding-right: 1rem;	
	
	background-color: #111d59;
}
p, dl {
	margin: 0.2rem;
	margin-top: 0.3rem;
}
p.breadcrumb {
	margin-top: 0;
	font-style: italic;
	border-radius: 0;	
}



[role="contentinfo"] {
	margin: 0 auto;
	margin-top: 1em;
	padding: 2rem 0;
	font-size: 0.8em;
	color: #111d59;
	text-align: center;
	border-radius: 0 0 1rem 1rem ;
	background-color: #999;
}

.users{
	
	width: 80%;
	margin: auto;
	background-color: white;
	padding: 2rem;

}
.content{
	padding-bottom: 2rem;
}
/**
 * admin
 */

.adminview{
	width: 80%;
	margin: auto;
	background-color: white;
	border: solid white 5px;
}
.table th{
	color: white;
	background-color: #111d59;
}
.table tbody tr td{
	vertical-align: middle;
	
}
.table tr:nth-child(2n){
		background-color: 	#D3D3D3;
}

/**
 * detailItem 
 */
.detailItem{
	width: 80%;
	margin: auto;
	background-color: white;
	padding: 2rem;
}
.detailimg img{
	width: auto;
	height: 50rem;
}
.detail-left{
	width: 30%;
	
	display: inline-block;
	vertical-align: top;
}
.detail-middle{
	width: 30%;
	margin-left: 1%;
	display: inline-block;
	vertical-align: top;
}
.detail-right{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	
}
.details{
	margin-bottom: 1rem;
}
.discription{
	margin-bottom: 1rem;
}
/**
 * list 
 */
 .grid{
 	display: inline-block;
 	width: 49%;
 	height: 100%;
 	margin: 0;
 	padding: 0;
 	float: left;
 }
 .grid-left{
 	display: inline-block;
 	background-color: grey;
 	width: 35%;
 	height: 100%;
 	margin-right: 1.5rem;
 	padding: 0;
 	float: left;
 }
 .grid-right{
 	width: 12%;
 	margin-top: 10rem;
 	display: inline-block;
 }

.viewimg{
	height: 20rem;
	margin: auto;
	
	align-content:  center;
	vertical-align: center;
	

}

.list{
	background-color: #dfdfdf;
	width: 100%;
	margin: auto;
	margin-bottom: 0.5rem;
	display: inline-block;
	border: solid #030e44 2px;
    font-size: 19px;
    
}
.list p{
	margin-bottom: 0;
}
.type{
	display: inline-block;
}

.list h1{

	font-size: 33px;

	background-color: #dfdfdf;
	margin-top: 1.5rem;
}


.list h2{
	font-size: 24px;
	display: inline-block;

	margin-bottom: 1.5rem;
	margin-top: 1rem;

}
.offer{
	margin-top: 2rem;
	margin-bottom: 2rem;
	
}


.items {
	width: 80%;
	margin: auto;
}





/**
 * filter 
 */
 .results{
 	color:white ;
 }
.filter{
	width: 80%;
	margin: auto;
	padding: 1rem;	
	padding-bottom: 1rem;
	background-color: #999;
}
.form-name{
	width: 25.5%;
	margin: 0;
	padding: 0;
	display: inline-block; 
	margin: 1%;
}
.form-checkbox{
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 0.05%;
	margin-top: 0.05%;
	float: left;

}
.form-checkbox label {
	margin: 0.3rem;
}
.form-controln{
	width: 100%;
}
.form-controlv{
	width: 100%;
}
.form-details label{
	display: inline-block;
	width: 100%;
	
}
.form-details label{
	color: white;
	background-color: #111d59;
	padding-left: 0.5rem;
	margin-bottom: 0;
	
}

.form-origin{
	width: 18%;
	margin: 1%;
	display: inline-block;
}
.form-year{
	width: 10%;
	margin: 1%;
	margin-right: 0.5%;
	display: inline-block;
}
.form-group:nth-child(2n) {
background-color: 	#D3D3D3;
}
.form-group{
	padding: 0.5rem;
}

.knop{
	float: right;
	padding-right: 1%;
	margin-bottom: 0;
	display: inline-block;
}
